.productTable {
    width:100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0 5px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse:separate; 
}
.productTable thead {
    height: 40px;   
    color:palegoldenrod;
    font-size: 20px;
    background-color: olivedrab;
    color: palegoldenrod;
    text-align: left;
    
}
.productTable thead th{
    padding-left: 10px;
}

th, td{
    padding: 12px 15px;
}

.productTable tbody tr {
    border-bottom: 1px solid #dddddd;
}



.productTable tbody tr:last-of-type {
    border-bottom: 2px solid olivedrab;
}

.productTable thead th:last-of-type {
    width:20%;
}